body {
  background: url(/assets/images/staking_v2_banner.svg) no-repeat !important;
  background-position-x: 0% !important ;
  background-position-y: 0% !important;
  background-size: auto !important;
  background-position: 0 0 !important;
  background-size: 100% !important;
  min-height: 124vh !important;
  position: relative !important;
  background-color: #e8e6c9 !important;
  font-family: Blackcurrant, Slackey, cursive, sans-serif;
}
a {
  text-decoration: none !important;
}
body > header:nth-child(1) > div:nth-child(3) {
  line-height: 18px;
  font-size: 22px;
  font-family: Blackcurrant, Slackey, cursive, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: url(/assets/images/buy_now.svg) no-repeat 0 0 / contain;
  line-height: 54px;
  text-transform: uppercase;
  width: 210px;
  height: 57px;
  cursor: pointer;
  text-transform: uppercase !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  justify-content: center !important;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-family: Blackcurrant, Slackey, cursive, sans-serif;
  padding: 15px 25px;
}
main {
  font-family: Blackcurrant, Slackey, cursive, sans-serif;
}
nav {
  display: flex;
  gap: 25px;
}
.line_link {
  background-color: #325697;
  min-width: 100vw !important;
  position: relative;
  left: -25px;
  font-size: 15px !important;
  text-align: center;
  color: white !important;
  font-family: Poppins, sans-serif !important;
  padding: 16px 0px;
}
.link_to {
  color: #fff64d !important;
  text-decoration: underline !important;
  font-weight: bold !important;
}
html body main h1.title {
  text-shadow: -3px 4px 0px #fff;
  color: rgb(44, 71, 119) !important;
}
html body main p.font-15.font-sm-24.fw-semibold.text-tertiary.text-center {
  font-family: Poppins, sans-serif !important;
}
.min_el {
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 39px;
  border: 6px solid #325697;
  background: linear-gradient(0deg, #fffef3 0%, #fffef3 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  color: rgb(50, 86, 151) !important;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 182px;
}
.elems {
  display: flex;
  max-width: 1492px;
  margin: 0 auto;
  justify-content: center;
  gap: 5vw;
  align-items: start;
}
@media (max-width: 1100px) {
  .elems {
    flex-direction: column;
    align-items: center;
  }
}
.max_el {
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 39px;
  border: 6px solid #325697;
  background: linear-gradient(0deg, #fffef3 0%, #fffef3 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  color: #fff;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 4px #00000040;
  border-radius: 40px;
  max-width: 600px;
  display: block;
  text-decoration: none !important;
}
.elems_wp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.elems_wp > div:nth-of-type(2) {
  flex: 1 1 0%;
}
.max_el > h2 {
  font-family: Poppins, sans-serif;
  color: rgb(44, 71, 119) !important;
  font-weight: 500;
  font-size: 30px;
}
html
  body
  main
  div.elems
  div.elems_wp
  div.max_el
  input.form-control.ng-valid.ng-touched.ng-dirty {
  font-size: 28px;
  font-weight: 600;
  box-shadow: none;
  border-radius: 10px;
  background-color: #efeed9;
  padding: 16px 25px;
  color: #325697;
  min-height: 80px;
  border: 1px solid #dbd1c9;
}
.balance {
  font-size: 24px !important;
  color: rgb(50, 86, 151) !important ;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-top: 15px;
}
.connect-btn {
  width: 420px !important;
  height: 110px !important;
  line-height: 30px !important;
}
.encsu {
  font-size: 30px !important;
  text-decoration: underline !important;
  font-weight: 500 !important;
  text-align: center !important;
  font-family: Poppins, sans-serif !important;
}
.title_el {
  font-size: 24px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  margin-bottom: 1rem !important;
  display: inline-block !important;
  box-sizing: border-box;
  font-family: Poppins, sans-serif !important;
}
.sub_el {
  font-weight: 700;
  font-family: Blackcurrant, Slackey, cursive, sans-serif;
  font-size: 48px;
  color: rgb(51, 87, 151) !important;
}
.el_ss {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.el_ss span {
  font-size: 20px;
}
.el_a1 {
  font-size: 20px;
  display: flex;
  align-items: end;
  position: relative;
  top: 20px;
  right: 50px;
}
.btn_1sz {
  height: auto !important;
  line-height: 1.1;
  min-height: 105px;
  max-width: 90% !important;
  text-align: center;
  justify-content: center;
  width: 100% !important;
  font-size: 40px !important;
  padding: 55px 10px !important;
  margin: 0 auto;
  margin-top: 0px;
  cursor: unset;
  min-width: 495px;
  margin-bottom: 20px !important;
}
.s11 {
  font-size: 30px !important;
  color: rgb(42, 69, 117) !important;
  text-align: center !important;
  font-weight: 500 !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  font-family: Poppins, sans-serif !important;
  display: block;
}

footer {
  background-image: url(./assets/images/footer-desktop.svg);
  position: relative;
  margin-top: 100vh;
  bottom: 0;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url(/assets/images/footer-desktop.svg) no-repeat 40% 100%;
  background-size: auto;
  background-size: cover;
  min-height: 610px;
  color: #46452f !important;
}
.logo_s1 {
  width: 115px;
  height: 115px;
}
footer > div:nth-child(1) > nav > a {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
footer > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer > div:nth-child(1) > nav {
  display: flex;
}
.wrap_sa {
  display: flex;
  flex-direction: column;
  max-width: 873px;
}
.wrap_f {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrap_sa span:nth-child(1) {
  font-weight: 500 !important;
  font-size: 25px;
  margin-bottom: 10px;
}
.wrap_sa span:nth-child(2) {
  font-size: 18px !important;
}
.cont_min {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap_srr {
  display: flex;
  align-items: end;
  font-size: 18px !important;
  gap: 60px;
}
